body
{
	width: 80%;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-family: "Helvetica" , "times new roman" , "arial" , "sans-serif";
	color: #404040;
	overflow-wrap: break-word;
	
}

main
{
	display: flex;
}

header
{
	display: flex;
}


.gauche , .profil/* gauche */
{
	width: 30%;
	background-color: #feca07;
	color: #404040;
	text-align: center;
	position: relative;
}

.photo
{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	border: 2px solid #daaf12;
	margin-top: 10%;
	margin-bottom: 5%;

}

.nom
{
	line-height: 10%;
	margin-top: 5%;
	
}

.gauche h2
{
	background-color: #404040;
	color: #feca07;
	text-align: center;
	font-size: 25px;
}


.contact p , .apropos p
{
	text-align: left;
	margin-left: 5%;
	font-size: 13px;
	margin-right: 5%;
}

.apropos
{
	margin-top: 10%;
}




.loisirs
{
	position: absolute;
	bottom: 3%;
	width: 100%;
	
}

.loisirs span
{
	display: flex;
	justify-content: space-around;
}

.velo , .rugby , .jeu 
{
	width: 35px;
	height: 30px;
}

.educ , .expe , .stylo
{
	width: 30px;
	height: 25px;
	margin-right: 15px;
}

/* Titre */
.formation h2 , .experience h2 , .recommandation h2
{
	border-bottom: 1px solid #feca07;
	padding-bottom: 2%;

}

h2 span
{
	margin-left: 6%;
}
/* fin des Titre */

/* Liste */
.fa-ul
{
	padding-left: 0;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	text-align: left;

}

.ligne1 , .ligne2
{
	display: flex;
	padding-bottom: 2%;

}

.date
{
	margin-left: 30%;
}

.texte_droite
{
	margin-left: 0px;
	width: 60%;
	
	
}

.texte_gauche
{
	width: 30%;
	height: 30px;
	margin-right: 5%;	
}



.icone2 
{
	width: 15%;
	float: left;
	height: 100%;
	

}
.icone
{
	width: 13%;
	float: left;
	margin-left: 2%;
	height: 100%;
	/*border: 2px solid black;*/
	
}

.icone i
{
	font-size: 60%;
	color:#feca07;
}

.icone2 i
{
	font-size: 100%;
	color:#feca07;
}

/* fin de la liste */
h2 i
{
	font-size: 25px;
	color:#feca07;
}
.loisirs i
{
	font-size:30px;
	color:#404040;
}

.corps , .nom /* droite */
{
	margin-left: 8%;
	width: 50%;
}



.nom h1
{

	font-size: 40px;

}

.nom h1 strong
{
	color:#face07;
}

.nom h2
{
	font-size: 18px;
}


.experience
{
	margin-top: 10%;
}

.recommandation
{
	margin-top: 20%;
	word-wrap: break-word;
}

.ducros
{
	margin-left: 20%;
}

.recommandation p
{
	width: 40%;
}


em
{
	border-bottom: 1px solid #feca07;
	font-style: normal;
}

.recommandation div
{
	display: flex;
}

.email
{
	text-decoration: none;
	color: #404040;

}

.texte_droite strong , .finir strong
{
	font-size: 15px;
	font-weight: bold;
}





@media (min-width: 429px) and (max-width: 768px)
{

body
{
	width: 100%;
	border: none;
}

}

@media all and (max-width: 428px)
{
	body
	{
		width: 100%;
		border: none;
		overflow-x: hidden;
	}

	header
	 {
	 	flex-direction: column;

	 }

	.profil
	{
		background-color: white;
		margin: auto;
	}

	.nom
	{
		width: 90%;
	}

	h1
	{
		font-size: 35px;
	}

	main
	{
		flex-direction: column-reverse;
	}

	.corps
	{
		width: 90%;
	}

	.gauche
	{
		width: 100%;
	}

	.loisirs
	{
		position: relative;
	}

}